@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer;
}

input[type=file],
input[type=password],
input[type=submit],
input[type=text],
input[type=email],
input[type=search],
textarea,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: auto;
}

select::ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

/**************
END RESETT CSS
****************/
@font-face {
  font-family: "GraphikLCTT";
  src: url("../fonts/GraphikLCTT-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "GraphikLCTT";
  src: url("../fonts/GraphikLCG-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "SharpGroteskMedium25-Regular";
  src: url("../fonts/SharpGroteskMedium25-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "SharpGroteskMedium20";
  src: url("../fonts/SharpGroteskMedium20.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
:root {
  --main-font: "GraphikLCTT", sans-serif;
  --secondary-font: "SharpGroteskMedium25-Regular", sans-serif;
  --bold-font: "SharpGroteskMedium20", sans-serif;
  --main-color: #070708;
  --main-color-light: #020203;
  --accent-color: #A6F20D;
  --light-color: rgba(255, 255, 255, 0.7);
  --lighter-color: rgba(255, 255, 255, 0.55);
  --grey: #3A3641;
  --grey-dark: #3A3641;
  --violet: #6939F9;
}

html {
  font-size: 10px;
}

body {
  background-color: #171320;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.125;
  font-family: var(--main-font);
  overflow-x: hidden !important;
  width: 100vw;
}

img {
  max-width: 100%;
}

a {
  color: currentColor;
  transition: all 0.2s;
}

h1, .h1 {
  font-size: 9.6rem;
  font-family: var(--secondary-font);
  line-height: 1;
}

h2, .h2 {
  font-size: 6rem;
  font-family: var(--secondary-font);
  line-height: 1;
}

h3, .h3 {
  font-size: 2.5rem;
  font-family: var(--secondary-font);
}

h4, .h4 {
  font-size: 2rem;
  font-family: var(--secondary-font);
}

.main-font {
  font-family: var(--main-font);
}

.text {
  font-size: 1.8rem;
  line-height: 1.38;
}

.text-xs {
  font-size: 12px;
  line-height: 1.3;
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

b, strong, .font-700 {
  font-weight: 700;
}

.font-900 {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.wrapper {
  overflow: hidden;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.accent {
  color: var(--accent-color);
}

.grey {
  color: var(--grey);
}

.grey-dark {
  color: var(--grey-dark);
}

.text-light {
  color: var(--light-color);
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff slick-image-url("../img/icons/ajax-loader.gif") center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/*Header*/
.header {
  display: flex;
  gap: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.burger {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.menu .menu__toggle {
  display: none;
}
.menu > li {
  position: relative;
  padding: 10px 0;
}
@media (min-width: 1221px) {
  .menu > li:hover > a {
    color: var(--accent-color);
  }
  .menu > li:hover > a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.96967 0.21967C1.26256 -0.0732233 1.73744 -0.0732233 2.03033 0.21967L6 4.18934L9.96967 0.21967C10.2626 -0.0732233 10.7374 -0.0732233 11.0303 0.21967C11.3232 0.512563 11.3232 0.987437 11.0303 1.28033L6.53033 5.78033C6.23744 6.07322 5.76256 6.07322 5.46967 5.78033L0.96967 1.28033C0.676777 0.987437 0.676777 0.512563 0.96967 0.21967Z' fill='%23A6F20D'/%3E%3C/svg%3E");
    transform: rotate(180deg);
  }
  .menu > li:hover ul {
    opacity: 1;
    pointer-events: all;
  }
}
.menu > li.has-submenu > a, .menu > li.has-submenu > span {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.menu > li.has-submenu > a::after, .menu > li.has-submenu > span::after {
  content: "";
  width: 11px;
  height: 6px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.96967 0.21967C1.26256 -0.0732233 1.73744 -0.0732233 2.03033 0.21967L6 4.18934L9.96967 0.21967C10.2626 -0.0732233 10.7374 -0.0732233 11.0303 0.21967C11.3232 0.512563 11.3232 0.987437 11.0303 1.28033L6.53033 5.78033C6.23744 6.07322 5.76256 6.07322 5.46967 5.78033L0.96967 1.28033C0.676777 0.987437 0.676777 0.512563 0.96967 0.21967Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s;
}
@media (min-width: 1221px) {
  .menu > li.has-submenu > a:hover::after, .menu > li.has-submenu > span:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.96967 0.21967C1.26256 -0.0732233 1.73744 -0.0732233 2.03033 0.21967L6 4.18934L9.96967 0.21967C10.2626 -0.0732233 10.7374 -0.0732233 11.0303 0.21967C11.3232 0.512563 11.3232 0.987437 11.0303 1.28033L6.53033 5.78033C6.23744 6.07322 5.76256 6.07322 5.46967 5.78033L0.96967 1.28033C0.676777 0.987437 0.676777 0.512563 0.96967 0.21967Z' fill='%23A6F20D'/%3E%3C/svg%3E");
    transform: rotate(180deg);
  }
}
.menu > li:last-child {
  padding-left: 2.4rem;
  border-left: 2px solid rgba(255, 255, 255, 0.15);
}
.menu > li a:hover, .menu > li span:hover {
  color: var(--accent-color);
}
.menu > li ul {
  position: absolute;
  top: 100%;
  left: 0;
  background: #0C0910;
  font-size: 1.6rem;
  width: 22rem;
  box-shadow: 0px 2px 0px rgba(7, 7, 8, 0.2), 0px 6px 4px rgba(7, 7, 8, 0.1);
  padding: 8px 0;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  z-index: 2;
}
.menu > li ul li a {
  display: block;
  font-size: 1.6rem;
  padding: 0.875em;
  font-weight: 400;
}

.first-screen__svg-1,
.first-screen__svg-2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  opacity: 0;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.first-screen__svg-1 {
  animation: fadeInOut1 20s ease-in-out infinite;
}

.first-screen {
  padding-top: 17rem;
}
.first-screen__left {
  width: 60%;
}
.first-screen__left .h1 {
  margin-bottom: 3.5rem;
}
.first-screen__left__text {
  display: flex;
}
.first-screen__left__text p {
  font-size: 2.2rem;
  line-height: 1.36;
}
.first-screen__right {
  width: 38%;
  position: relative;
}
.first-screen__right picture {
  display: block;
  position: relative;
  top: 4rem;
  animation: floatingChest 6s ease-in-out infinite;
  width: 100%;
  height: auto;
}
.first-screen__right img {
  width: 100%;
  height: auto;
}
.first-screen__right .shadow {
  animation: shadowScale 6s ease-in-out infinite;
  width: 100%;
  z-index: -1;
}
.first-screen .btn-container {
  display: flex;
  gap: 12px;
  margin-top: 3.4rem;
}

.text-list {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.35;
  min-width: 22.5rem;
  position: relative;
  top: -0.7rem;
}
.text-list li:first-child {
  color: rgb(255, 255, 255);
}
.text-list li:nth-child(2) {
  color: rgba(255, 255, 255, 0.8);
}
.text-list li:nth-child(3) {
  color: rgba(255, 255, 255, 0.6);
}
.text-list li:nth-child(4) {
  color: rgba(255, 255, 255, 0.4);
}
.text-list li:nth-child(5) {
  color: rgba(255, 255, 255, 0.2);
}
.text-list li:nth-child(6) {
  color: rgba(255, 255, 255, 0);
}

.call-to-scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7em;
  align-items: center;
  color: #876BFA;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 4.9rem;
}
.call-to-scroll .text {
  font-size: 12px;
}

.scroll-icon {
  width: 15px;
  height: 23px;
  border: 1px solid currentColor;
  border-radius: 10px;
  position: relative;
  background: #322263;
}
.scroll-icon::before {
  content: "";
  width: 2px;
  height: 6px;
  border-radius: 19px;
  background: currentColor;
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  animation: scroll 2s infinite;
}

@keyframes scroll {
  0% {
    top: 6px;
  }
  30% {
    top: 2px;
  }
  40% {
    top: 2px;
  }
  60% {
    top: 6px;
  }
  100% {
    top: 6px;
  }
}
@keyframes fadeInOut1 {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes floatingChest {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shadowScale {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(0.85);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}
.change-way {
  margin: 11.1rem 0 18.4rem;
  position: relative;
}
.change-way__svg {
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  z-index: -1;
  animation: spin-fade 10s linear infinite;
}
.change-way .block-title {
  margin-bottom: 4.9rem;
}
.change-way .subtitle {
  font-size: 2.2rem;
  margin-top: 1em;
  font-weight: 500;
}
.change-way .btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20rem;
}
.change-way h2, .change-way .h2 {
  font-size: 6.4rem;
}

.change-way__content {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 1.15rem));
  gap: 2.3rem;
}

.change-way__item {
  border-radius: 48px;
  padding: 4.5rem;
  background: #32294E;
}
.change-way__item:last-child {
  grid-column: 1/-1;
}
.change-way__item .text-block {
  margin-top: 2.5rem;
}
.change-way__item .text-block .title {
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 500;
  color: #fff;
  margin-bottom: 1.6rem;
}
.change-way__item .text-block .text {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #D2CEFE;
}
.change-way__item .text-block .text a {
  text-decoration: underline;
}
.change-way__item .text-block .text a:hover {
  text-decoration: none;
}
.change-way__item .vertical {
  height: 28.7rem;
  overflow: hidden;
  position: relative;
}
.change-way__item .vertical::after {
  content: "";
  width: 100%;
  height: 9.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(50, 41, 78, 0) 10%, rgba(50, 41, 78, 0.4) 20%, rgba(50, 41, 78, 0.7) 40%, rgb(50, 41, 78) 100%);
  pointer-events: none;
}
.change-way__item .horizontal {
  overflow: hidden;
  position: relative;
}
.change-way__item .horizontal::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: -1px;
  background: linear-gradient(to right, rgba(50, 41, 78, 0) 0%, rgba(50, 41, 78, 0.2) 30%, #32294E 95%);
  pointer-events: none;
}
.change-way__item__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.change-way__item__row .text-block {
  width: 45%;
}
.change-way__item .btns-container {
  width: 50%;
  text-align: right;
}
.change-way__item .btns-container .btn {
  width: 100%;
  max-width: 37.7rem;
  box-shadow: -37px -15px 60px 0 rgba(0, 0, 0, 0.5);
}
.change-way__item .btn-wrapper {
  position: relative;
}
.change-way__item .btn-wrapper .cat-for-pay {
  position: absolute;
  bottom: calc(100% - 30px);
  right: 0;
  overflow: visible;
  z-index: 1;
}

.bonus-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--main-color);
  color: #fff;
  border-radius: 20px;
  margin-bottom: 2rem;
  padding: 1.75rem 2.7rem;
  font-size: 2rem;
}
.bonus-list__item .name {
  line-height: 1.5;
}
.bonus-list__item .value {
  width: 12rem;
  height: 5rem;
  background: #413960;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.bonus-list__item .bonus-value {
  line-height: 1;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
.bonus-list__item .bonus-value::after {
  content: "";
  width: 1.3em;
  height: 1.3em;
  display: inline-block;
  background: url("../img/orb_mini.png") no-repeat center/contain;
}

.games-list {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  grid-gap: 2rem;
  overflow-x: auto;
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  /* Скрыть полосу прокрутки для Chrome/Safari/Opera */
}
.games-list::-webkit-scrollbar {
  height: 5px;
}
.games-list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.games-list__item {
  width: 130px;
  height: 130px;
  border-radius: 20px;
  overflow: hidden;
}
.games-list__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.games-list__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.save-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #34323B;
  border-radius: 18px;
  height: 7rem;
  padding: 0 1.4rem;
  width: 100%;
  max-width: 35.2rem;
  box-shadow: -37px -15px 60px 0 rgba(0, 0, 0, 0.5);
  transform: translateX(-44%);
}
.save-container__left {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  text-align: left;
}
.save-container__left__body {
  color: var(--light-color);
  font-weight: 400;
  line-height: 1.2;
}
.save-container__left__body .caption {
  color: #fff;
  font-weight: 500;
}

.checkbox {
  position: relative;
  display: inline-block;
}

.checkbox input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.checkbox label {
  display: block;
  width: 50px;
  height: 25px;
  background-color: #7865d2;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkbox label::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #c5c5c5;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.checkbox input[type=checkbox]:checked + label {
  background-color: var(--violet);
}

.checkbox input[type=checkbox]:checked + label::after {
  background: #fff;
  transform: translateX(25px);
}

.checkbox label:active::after {
  width: 23px;
}

.change-way__bg {
  position: absolute;
  bottom: -600px;
  left: 0;
  height: 1200px;
  pointer-events: none;
  filter: blur(10px);
  z-index: -1;
  animation: spin-fade 10s linear infinite;
}
.change-way__bg svg {
  width: 100%;
  height: 100%;
}
.change-way__bg--right {
  left: auto;
  right: 0;
  animation-delay: 5s;
}

@keyframes spin-fade {
  0% {
    filter: blur(0);
    opacity: 1;
  }
  50% {
    filter: blur(100px);
    opacity: 0.4;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
/* Анимация моргания левого глаза */
@keyframes blink {
  0%, 92%, 100% {
    transform: scaleY(1);
    cy: 58;
  }
  94%, 96% {
    transform: scaleY(0);
    cy: 58;
  }
}
/* Анимация моргания правого глаза */
@keyframes rightBlink {
  0%, 92%, 100% {
    transform: scaleY(1);
    cy: 60;
  }
  94%, 96% {
    transform: scaleY(0);
    cy: 60;
  }
}
/* Анимация движения хвоста */
@keyframes tailWag {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  50% {
    transform: rotate(-10deg) translateY(0);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}
/* Стили для левого глаза */
#leftEye {
  animation: blink 8s infinite;
  transform-box: fill-box;
  transform-origin: center;
}

/* Стили для правого глаза */
#rightEye {
  animation: rightBlink 8s infinite;
  transform-box: fill-box;
  transform-origin: center;
}

/* Стили для кончика хвоста */
#tail-tip {
  animation: tailWag 3s infinite ease-in-out;
  transform-origin: 116px 78px;
}

.earn .block-title {
  margin-bottom: 8.6rem;
}
.earn .block-title .accent {
  display: block;
}
.earn__body {
  border-radius: 64px 64px 0 0;
  background: linear-gradient(90deg, #8E38D7 0%, #FF336D 100%);
  padding-top: 7rem;
  padding-bottom: 6.3rem;
}
.earn__content__left {
  width: 45.9%;
  background-color: #fff;
  border-radius: 32px 32px 0 0;
  padding: 2.8rem 2.8rem 1rem;
  color: var(--main-color);
  position: relative;
}
.earn__content__left::after {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none;
}
.earn__content__right {
  width: 50%;
  padding-bottom: 4rem;
}
.earn__content__right .text {
  line-height: 1.38;
  margin-bottom: 0.9rem;
}
.earn__content__right .btn {
  margin-top: 4rem;
}
.earn .bonus-list__item {
  background: #DAD6E6;
  color: var(--main-color);
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.95rem 2.7rem;
}
.earn .bonus-list__item:last-child {
  margin-bottom: 1rem;
}
.earn .bonus-list__item .name {
  width: 60%;
}
.earn .bonus-list__item .value {
  width: 10rem;
  height: 4rem;
  background: #363636;
  color: #fff;
  font-weight: 500;
  border-radius: 9px;
}
.earn .bonus-list__item .value .bonus-value {
  flex-direction: row-reverse;
}

.earn__card {
  display: flex;
  gap: 2.2rem;
  margin-bottom: 1.3rem;
}
.earn__card .img img {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
.earn__card .description .title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5em;
  line-height: 1.4;
}
.earn__card .description .text {
  line-height: 1.5;
  font-weight: 400;
}

.cat-scene {
  position: absolute;
  bottom: calc(100% - 34px);
  right: 0;
}

.cat-body {
  position: relative;
  top: 0;
  left: 0;
}

.cat-tail {
  position: absolute;
  top: 20px;
  left: 180px;
  transform-origin: 0 100%;
  animation: tailWag 2s infinite ease-in-out;
}

.eye {
  animation: blink2 6s infinite;
}

@keyframes tailWag {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
}
@keyframes blink2 {
  0%, 96%, 100% {
    opacity: 1;
  }
  98% {
    opacity: 0.1;
  }
}
.reedem {
  position: relative;
  padding-bottom: 9rem;
}
.reedem::before {
  content: "";
  width: 100%;
  height: 6.3rem;
  position: absolute;
  bottom: calc(100% - 2px);
  left: 0;
  background: #171320;
  border-radius: 64px 64px 0 0;
}
.reedem__body {
  background: #171320;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.reedem .block-title {
  margin: 0 auto 4.8rem;
  max-width: 77.9rem;
}
.reedem .block-title .accent {
  display: block;
}
.reedem .h2 {
  font-size: 6.4rem;
}
.reedem__content {
  border-radius: 30px;
  padding: 16px 13px;
  background: linear-gradient(to right, #9775FB, #6939F9 100%);
}
.reedem .btns-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.floating-svg {
  position: absolute;
  animation: float 20s infinite ease-in-out;
  width: 400px;
  height: auto;
  filter: blur(100px);
  pointer-events: none;
  will-change: transform;
  top: 4%;
  left: 5%;
  transform-origin: center center;
}

.reedem__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reedem__content__left {
  width: 60%;
  display: flex;
  justify-content: center;
}

.reedem-tab-content {
  width: 402px;
  height: 294px;
  background: #2C2640;
  border-radius: 20px;
}

.reedem__tabs {
  width: 40%;
  max-width: 44.4rem;
}

.tab-item {
  border-radius: 20px;
  height: 11.4rem;
  color: var(--light-color);
  padding: 2.4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}
.tab-item::before {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  flex: none;
  border-radius: 50%;
  background: #6E4ADB url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L4 6L9 1' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E") center no-repeat;
  transition: all 0.3s;
}
.tab-item.active {
  background: #5C2AE9;
  color: #fff;
}
.tab-item.active::before {
  background-color: #876BFA;
}
.tab-item .text {
  font-size: max(11px, 1.4rem);
  line-height: 1.57;
  color: inherit;
}
@media (max-width: 990px) {
  .tab-item .text {
    line-height: 1.3;
  }
}

/* Дополнительные стили для анимации табов */
.reedem-tab-content {
  position: relative;
  overflow: hidden;
}

.slides-container {
  position: absolute;
  width: 100%;
  transition: transform 0.5s ease;
}

/* Каждый отдельный слайд */
.tab-content-slide {
  padding: 30px;
  color: white;
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  min-height: 294px;
}
.tab-content-slide--login {
  display: flex !important;
  align-items: center;
}
.tab-content-slide--login .tab-content-slide__body {
  max-width: 281px;
  margin-left: auto;
  margin-right: auto;
}
.tab-content-slide--login .title {
  line-height: 1.36;
  margin-bottom: 17px;
}
.tab-content-slide--login .title .h3 {
  font-size: 25px;
  margin-bottom: 7px;
}
.tab-content-slide--login .btn {
  font-size: 14px;
  padding: 0.929em 2.5em;
  border-radius: 7px;
}
.tab-content-slide--login .form {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.tab-content-slide--merchant {
  padding: 30px 20px;
}
.tab-content-slide--payment {
  display: flex;
  align-items: center;
}

.reedem__tabs {
  position: relative;
}

.tab-background {
  position: absolute;
  background: #5C2AE9;
  border-radius: 16px;
  left: 0;
  right: 0;
  height: 7rem;
  z-index: 1;
  transition: all 0.3s;
}

.tab-item {
  position: relative;
  z-index: 1;
  background: transparent !important;
  transition: color 0.3s ease;
}

.tab-item.active {
  background: transparent !important;
}

.merchant-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 34px;
  gap: 4px;
  margin-bottom: 2.4rem;
}

.merchant-item {
  height: 74px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.merchant-item.active {
  border-color: var(--violet);
  border-width: 2px;
}
.merchant-item--short {
  justify-content: center;
  line-height: 1;
}
.merchant-item__img {
  text-align: right;
  margin-bottom: 4px;
  padding-right: 3px;
}
.merchant-item__img img {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}
.merchant-item__name {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.1;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 2.2em;
}

.tab-payment-banner__body {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.05);
  padding: 12px;
}
.tab-payment-banner__body__top {
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: 1;
  font-size: 14px;
}
.tab-payment-banner__body__top::before {
  content: "";
  width: 24px;
  height: 24px;
  flex: none;
  background: url("../img/orb_mini.png") no-repeat center/contain;
}
.tab-payment-banner__body .btn {
  font-size: 14px;
  padding: 0.79em 2.5em;
  border-radius: 8px;
  border-width: 1px;
  margin-top: 12px;
}
.tab-payment-banner .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 16px;
}

.payment-form .input-row {
  display: flex;
  gap: 12px;
}
.payment-form .input-wrapper {
  margin-bottom: 12px;
}
.payment-form .card-group,
.payment-form .icon-info {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.payment-form .icon-info {
  cursor: pointer;
}
.payment-form .btn {
  font-size: 16px;
  padding: 1em 2.5em;
}
.payment-form .icon-info:hover .tip {
  opacity: 1;
}
.payment-form .icon-info .tip {
  position: absolute;
  bottom: calc(100% + 10px);
  right: -10px;
  border-radius: 8px;
  padding: 10px;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 400;
  width: 150px;
  background: var(--main-color);
  transition: all 0.3s;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}
.payment-form .icon-info .tip::after {
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: var(--main-color);
  position: absolute;
  top: 100%;
  right: 15px;
}

@keyframes float {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  25% {
    transform: translate(20%, 25%) rotate(5deg);
  }
  50% {
    transform: translate(60%, 10%) rotate(-5deg);
  }
  75% {
    transform: translate(40%, 50%) rotate(3deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}
.btn {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-size: max(12px, 1.6rem);
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1;
  padding: 1.188em 2.5em;
  border-radius: 16px;
  color: var(--main-color);
  background-color: var(--accent-color);
  border: none;
  transition: all 0.2s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
.btn--grey {
  background-color: var(--grey-dark);
  color: #fff;
}
.btn--grey:hover {
  opacity: 1;
  background: var(--accent-color);
  color: var(--main-color);
}
.btn--violet {
  background: var(--violet);
  color: #fff;
}
.btn--outline-violet {
  background: transparent;
  border: 2px solid var(--violet);
  color: #876BFA;
}
.btn--outline-violet:hover {
  opacity: 1;
  background: var(--accent-color);
  color: var(--main-color);
  border-color: var(--accent-color);
}
.btn--lg {
  width: 100%;
  max-width: 60rem;
  font-size: 2.4rem;
  border-radius: 24px;
}
.btn--full {
  width: 100%;
}

.ripple {
  position: absolute;
  background-color: #678c1e;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
  pointer-events: none;
}

.btn-effect {
  position: relative;
  width: 100%;
  max-width: 60rem;
}
.btn-effect .btn {
  background: linear-gradient(to right, #C1F53D, #68FF0C);
  z-index: 20;
}
.btn-effect::before, .btn-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #3E6410;
  pointer-events: none;
  z-index: -1;
  transition: all 0.2s;
}
.btn-effect::after {
  background: #1B3206;
  z-index: -2;
}
.btn-effect:hover .btn {
  opacity: 1;
}
.btn-effect:hover::before {
  transform: scale(0.92) translate(0, -2rem);
}
.btn-effect:hover::after {
  transform: scale(0.85) translate(0, -4rem);
}

@keyframes ripple-animation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}
.input-wrapper {
  position: relative;
}
.input-wrapper input {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  color: var(--light-color);
  font-weight: 500;
  font-size: 14px;
  height: 40px;
  border-radius: 7px;
  padding-left: 12px;
  transition: all 0.3s;
}
.input-wrapper input::-moz-placeholder {
  color: var(--lighter-color);
}
.input-wrapper input::placeholder {
  color: var(--lighter-color);
}
.input-wrapper--outline input {
  border: 1px solid var(--violet);
}
.input-wrapper--outline input:focus {
  border-color: var(--accent-color);
}
.input-wrapper--grey input {
  background: #3B354D;
  border: 1px solid #3B354D;
}
.input-wrapper--grey input:focus {
  border-color: var(--accent-color);
}

.last-screen {
  background: #0C0910;
  border-radius: 64px 64px 0 0;
  padding-top: 10.7rem;
}
.last-screen .block-title {
  max-width: 93.2rem;
  margin: 0 auto 8rem;
}

.game-slider {
  margin-bottom: 6rem;
}
.game-slider .slick-track {
  display: flex;
  gap: 30px;
  padding: 30px 0;
}
.game-slider .slide {
  transition: all 0.3s;
}
.game-slider .slide.slick-center .game-title {
  background: var(--accent-color);
  color: var(--main-color);
}
.game-slider .slide__content {
  border-radius: 20px;
  background: linear-gradient(to bottom, #221C30 0%, #171320 100%);
  height: 400px;
  display: flex;
  flex-direction: column;
}
.game-slider .slide .game-logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.game-slider .slide .game-logo img, .game-slider .slide .game-logo picture {
  max-width: 100%;
  max-height: 150px;
  transition: all 0.3s;
}
.game-slider .slide .game-title {
  height: 96px;
  border-radius: 20px;
  background: #2C2640;
  font-size: 24px;
  padding: 1em 0.75em;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
  transition: all 0.3s;
}
.game-slider .slide .game-title:hover {
  text-decoration: none;
}

.slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}
.slider-controls .prev-arrow,
.slider-controls .next-arrow {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.slider-controls .slick-dots {
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
}
.slider-controls .slick-dots li {
  width: auto;
  height: auto;
  margin: 0 2px;
}
.slider-controls .slick-dots li.slick-active button {
  width: 24px;
  background: #fff;
  border-radius: 4px;
}
.slider-controls .slick-dots li button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #423E4A;
  padding: 0;
  transition: all 0.3s;
}
.slider-controls .slick-dots li button::before {
  display: none;
}

.slider-shape {
  width: 90rem;
  height: 90rem;
  position: absolute;
  top: 12%;
  right: -10%;
  pointer-events: none;
}
.slider-shape svg {
  width: 100%;
  height: 100%;
}

.slider-bg {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  width: 100%;
  height: 50%;
}
.slider-bg svg {
  width: 100%;
  height: 100%;
}

.faq {
  padding-bottom: 25px;
}
.faq__title {
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 2.8rem;
}

.accordion-container {
  max-width: 100%;
  margin: 0 auto;
}

.accordion-item {
  background-color: #18161C;
  border-radius: 10px;
  border: 1px solid #252228;
  margin-bottom: 2.4rem;
  overflow: hidden;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  cursor: pointer;
}
.accordion-header__title {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 500;
}

.accordion-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}
.accordion-icon svg {
  width: 100%;
  height: 100%;
}

.accordion-item.active .accordion-icon {
  transform: rotate(180deg);
}

.accordion-content {
  padding: 0 2rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}
.accordion-content p {
  font-size: max(1.4rem, 12px);
  line-height: 1.5;
  font-weight: 400;
}

.accordion-item.active .accordion-content {
  padding: 0 2rem 2rem;
  max-height: 500px;
}

.accordion-content p {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.5;
  margin: 0;
}

.first-screen,
.change-way,
.earn,
.reedem,
.last-screen {
  position: relative;
}
.first-screen .container,
.change-way .container,
.earn .container,
.reedem .container,
.last-screen .container {
  position: relative;
  z-index: 1;
}

.reedem__content,
.game-slider-wrapper {
  position: relative;
  z-index: 2;
}

.ball {
  width: 20rem;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
.ball canvas {
  width: 100%;
  height: 100%;
}
.ball--1 {
  width: 24.8rem;
  height: 24.8rem;
  position: absolute;
  left: 47%;
  top: 5%;
  z-index: 1;
}
.ball--2 {
  width: 32rem;
  height: 32rem;
  left: 55%;
  top: -21rem;
  filter: blur(5px);
  z-index: 1;
}
.ball--3 {
  width: 30rem;
  height: 30rem;
  right: 15%;
  top: 100%;
  z-index: 1;
}
.ball--4 {
  width: 46.7rem;
  right: -15rem;
  top: 70%;
  filter: blur(6px);
}
.ball--5 {
  width: 4.8rem;
  right: 15%;
  top: 40%;
}
.ball--6 {
  width: 22rem;
  left: -18vw;
  bottom: 1%;
}
.ball--7 {
  width: 30rem;
  bottom: -20%;
  left: -12vw;
  filter: blur(9px);
}
.ball--8 {
  width: 9rem;
  bottom: 10%;
  left: 7vw;
}
.ball--9 {
  width: 21rem;
  right: -10%;
  bottom: -10%;
}
.ball--10 {
  width: 25.7rem;
  right: -30%;
  bottom: -5%;
  filter: blur(12px);
}
.ball--11 {
  width: 29rem;
  bottom: 0;
  left: -7%;
  filter: blur(10px);
  z-index: 1;
}
.ball--12 {
  width: 12.9rem;
  right: 4%;
  bottom: 30%;
  z-index: 1;
}
.ball--13 {
  width: 4.8rem;
  bottom: 50%;
  right: 11%;
  z-index: 1;
  filter: blur(4px);
}
.ball--14 {
  width: 27.3rem;
  top: 11%;
  z-index: 1;
  left: -5%;
  filter: blur(4px);
  z-index: 0;
}
.ball--cat {
  top: -55px;
  left: -60px;
  z-index: 1;
  animation: catBallFloat 7s linear infinite;
  transform-origin: center center;
  z-index: 1;
}
.ball--15 {
  width: 16.5rem;
  top: 14%;
  right: -10rem;
  z-index: 3;
}
.ball--16 {
  width: 26rem;
  right: -18vw;
  top: -10rem;
  filter: blur(5px);
}

@keyframes catBallFloat {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
}
/*Footer*/
.footer {
  background: #0C0910;
  font-size: 14px;
  font-weight: 400;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__wrapper__right {
  display: flex;
  align-items: center;
  gap: 38.4px;
}
.footer .logo {
  line-height: 0;
}

.footer__list {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.footer__list a:hover {
  color: var(--accent-color);
}

.footer__text {
  color: var(--light-color);
}

@media (max-width: 1700px) {
  .ball--5 {
    right: 8vw;
  }
}
@media (max-height: 800px) {
  h2, .h2 {
    font-size: 5rem;
  }
  .reedem .h2,
  .change-way h2, .change-way .h2 {
    font-size: 5.2rem;
  }
}
@media (max-height: 750px) {
  h2, .h2 {
    font-size: 4.5rem;
  }
  .reedem .h2,
  .change-way h2, .change-way .h2 {
    font-size: 4.7rem;
  }
  .reedem__body {
    padding-top: 3rem;
  }
  .reedem .block-title {
    margin-bottom: 2rem;
  }
}
@media (max-width: 1360px) {
  html {
    font-size: 0.7vw;
  }
}
@media (max-width: 1220px) {
  html {
    font-size: 0.75vw;
  }
  .container {
    max-width: 660px;
  }
  .ball {
    aspect-ratio: 1/1;
  }
  .ball--1 {
    width: 10vw;
    height: auto;
    top: 7%;
  }
  .ball--2 {
    width: 15vw;
    height: auto;
    top: -8vw;
  }
  .ball--3 {
    width: 18vw;
    height: auto;
    right: 17vw;
  }
  .ball--4 {
    width: 20vw;
    right: 3vw;
  }
  .ball--6 {
    width: 11vw;
    left: -27%;
  }
  .ball--7 {
    width: 18vw;
  }
  .ball--8 {
    width: 5vw;
  }
  .ball--9 {
    width: 17vw;
  }
  .ball--10px {
    width: 19vw;
  }
  .ball--14 {
    width: 18vw;
  }
  .ball--cat {
    width: 130px;
  }
  h1, .h1 {
    font-size: 6.6rem;
  }
  .first-screen__left__text p {
    font-size: max(13px, 1.65rem);
  }
  .text-list {
    font-size: 3.4rem;
    min-width: unset;
    margin-right: 4rem;
  }
  .change-way__item {
    border-radius: 24px;
  }
  .change-way__item {
    padding: 2rem;
  }
  .games-list {
    gap: 1rem;
  }
  .games-list__item {
    width: 80px;
    height: 80px;
    border-radius: 13px;
  }
  .bonus-list__item {
    margin-bottom: 1rem;
    padding: 1.2rem 1.7rem;
    border-radius: 13px;
  }
  .change-way__item .vertical {
    height: 22rem;
  }
  .change-way__item .text-block .title {
    font-size: max(18px, 2.4rem);
  }
  .change-way__item .text-block .text {
    font-size: 1.6rem;
  }
  .change-way__item .btn-wrapper .cat-for-pay {
    bottom: calc(100% - 18px);
    right: -10px;
    width: 120px;
    height: auto;
  }
  .save-container {
    max-width: 33rem;
  }
  .cat-body {
    width: 140px;
    height: auto;
    top: -13px;
    left: -13px;
  }
  .cat-tail {
    top: -17px;
    left: 92px;
    width: 30px;
  }
  .earn__card {
    gap: 10px;
  }
  .earn__card .img img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
  }
  .earn__card .description .title {
    font-size: 1.7rem;
  }
  .earn__card .description .text {
    line-height: 1.3;
    font-size: 1.6rem;
  }
  .earn__content__left {
    padding: 1.8rem 1.8rem 1rem;
    border-radius: 24px 24px 0 0;
  }
  .earn .bonus-list__item {
    padding: 10px;
    font-size: 1.4rem;
  }
  .reedem__tabs {
    width: calc(100% - 400px);
  }
  .footer .logo {
    width: 70px;
  }
  .footer {
    font-size: 10px;
  }
  .footer__wrapper__right {
    gap: 20px;
  }
  .burger {
    display: block;
  }
  .header {
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    width: 100%;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(-110%);
    overflow-y: auto;
    background: radial-gradient(ellipse at 50% 60%, #2E2253 0%, #221D32 100%);
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 15px 70px 70px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s;
  }
  .menu::before {
    content: "";
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, #0E0C14, #19122E);
  }
  .menu .menu__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu li {
    padding: 0;
    width: 100%;
  }
  .menu li.menu__toggle {
    padding: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .menu li > a {
    padding-right: 20px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu li a {
    padding: 10px 0;
  }
  .menu > li:last-child {
    padding-left: 0;
    border: none;
  }
  .menu .has-submenu.active .submenu {
    opacity: 1;
    height: auto;
  }
  .menu .has-submenu.active > a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.96967 0.21967C1.26256 -0.0732233 1.73744 -0.0732233 2.03033 0.21967L6 4.18934L9.96967 0.21967C10.2626 -0.0732233 10.7374 -0.0732233 11.0303 0.21967C11.3232 0.512563 11.3232 0.987437 11.0303 1.28033L6.53033 5.78033C6.23744 6.07322 5.76256 6.07322 5.46967 5.78033L0.96967 1.28033C0.676777 0.987437 0.676777 0.512563 0.96967 0.21967Z' fill='%23A6F20D'/%3E%3C/svg%3E");
    transform: rotate(180deg);
  }
  .menu .submenu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    box-shadow: none;
    height: 0;
    padding: 0;
    font-size: 16px;
    padding-left: 20px;
  }
  .menu .submenu li {
    padding: 0;
  }
  .menu .submenu li a {
    padding: 15px 0;
    font-size: 16px;
    font-weight: 500;
  }
  .menu-open {
    overflow: hidden;
  }
  .menu-open .menu {
    transform: translateX(0);
  }
}
@media (max-width: 990px) {
  html {
    font-size: 0.8vw;
  }
  .change-way__item .text-block .text {
    font-size: max(14px, 1.6rem);
  }
}
@media (max-width: 767px) {
  html {
    font-size: min(8px, 1.6vw);
  }
  .first-screen .container {
    flex-direction: column-reverse;
  }
  .first-screen__left, .first-screen__right {
    width: 100%;
    text-align: center;
  }
  .first-screen__left .h1 {
    margin-bottom: 0;
  }
  .first-screen__left .h1 br {
    display: none;
  }
  h1, .h1 {
    font-size: 5.7rem;
  }
  .reedem .h2,
  .change-way .h2,
  h2, .h2 {
    font-size: 4rem;
  }
  .change-way__item .text-block .title,
  .faq__title {
    font-size: 24px;
  }
  .change-way__item .text-block .text,
  .accordion-header,
  .accordion-header__title {
    font-size: 18px;
  }
  .accordion-content,
  .accordion-content p,
  .earn__card .description .title {
    font-size: 14px;
  }
  .tab-item .text,
  .earn__card .description .text,
  .earn .bonus-list__item {
    font-size: 12px;
  }
  .game-slider .slide .game-title {
    font-size: 10px;
  }
  .change-way__item .text-block .text {
    font-weight: 400;
  }
  .first-screen__left__text {
    flex-direction: column;
  }
  .text-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 3rem;
  }
  .first-screen__left__text p,
  .change-way .subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
  }
  .btn {
    font-size: 14px;
    padding: 1em;
  }
  .first-screen .btn-container {
    margin-top: 20px;
  }
  .first-screen .btn-container .btn {
    width: calc(50% - 12px);
    border-radius: 10px;
    flex-grow: 1;
  }
  .call-to-scroll {
    margin-top: 11rem;
  }
  .change-way {
    margin-top: 5rem;
    margin-bottom: 30px;
  }
  .change-way__content {
    grid-template-columns: 100%;
  }
  .change-way__item {
    padding: 20px;
  }
  .change-way__item .vertical {
    height: 174px;
  }
  .bonus-list__item {
    font-size: 12px;
    padding: 10px 17px;
  }
  .bonus-list__item .value {
    border-radius: 10px;
  }
  .games-list__item {
    width: 120px;
    height: 120px;
    border-radius: 22px;
  }
  .change-way__item__row {
    flex-direction: column-reverse;
  }
  .change-way__item__row .text-block,
  .change-way__item .btns-container,
  .earn__content__left,
  .earn__content__right,
  .reedem__content__left,
  .reedem__tabs {
    width: 100%;
  }
  .save-container {
    max-width: unset;
    transform: translateX(0);
    margin-bottom: 60px;
  }
  .btns-container .btn,
  .change-way__item .btns-container .btn {
    max-width: unset;
  }
  .save-container__left__body {
    font-size: 12px;
  }
  .change-way__item .btns-container {
    margin-bottom: 40px;
  }
  .change-way .btn-container {
    margin-top: 60px;
  }
  .btn-effect .btn {
    font-size: 16px;
    border-radius: 15px;
  }
  .earn__content {
    flex-direction: column-reverse;
  }
  .earn .block-title {
    margin-bottom: 15px;
  }
  .earn__content__right .text {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 12px;
  }
  .earn__body {
    border-radius: 12px 12px;
    padding: 30px 0 40px;
  }
  .container {
    padding: 0 20px;
  }
  .earn__content__right {
    padding: 0;
    margin-bottom: 50px;
  }
  .earn__content__right .btn {
    margin: 20px auto 0;
    display: flex;
    max-width: 190px;
    border-radius: 15px;
    font-size: 16px;
    padding: 19px 10px;
  }
  .ball--11 {
    display: none;
  }
  .reedem::before {
    height: 40px;
    border-radius: 12px 12px 0 0;
  }
  .reedem__body {
    padding-top: 0;
  }
  .reedem__content {
    flex-direction: column-reverse;
  }
  .tab-item {
    padding: 17px;
    height: 80px;
  }
  .tab-item::before {
    width: 17px;
    height: 17px;
  }
  .reedem__tabs {
    max-width: unset;
    margin-bottom: 20px;
  }
  .reedem {
    padding-bottom: 30px;
  }
  .reedem .btns-container .btn {
    width: calc(50% - 12px);
    border-radius: 10px;
  }
  .game-slider .slick-track {
    gap: 12px;
  }
  .first-screen__right {
    max-width: 300px;
    margin: 0 auto 70px;
  }
  .first-screen__right .shadow {
    max-height: 50px;
  }
  .earn__card .description .title {
    margin-bottom: 0;
  }
  .last-screen {
    border-radius: 12px 12px 0 0;
  }
  .reedem__content,
  .tab-background {
    border-radius: 11px;
  }
  .reedem-tab-content {
    font-size: 14px;
  }
  .tab-content-slide {
    min-height: 254px;
  }
  .game-slider .slide__content {
    height: 144px;
    border-radius: 8px;
  }
  .game-slider .slide .game-title {
    height: 35px;
    border-radius: 8px;
    text-decoration: none;
  }
  .slider-controls .slick-dots {
    top: 2px;
  }
}
@media (max-width: 640px) {
  .footer__wrapper {
    padding-bottom: 30px;
  }
  .footer__wrapper,
  .footer__wrapper__right,
  .footer__list {
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
  }
  .footer__wrapper__right {
    flex-direction: column-reverse;
  }
  .footer .logo {
    width: auto;
    margin-bottom: 20px;
  }
  .header .logo {
    width: 100px;
  }
  .floating-svg,
  .slider-shape {
    animation: unset;
  }
  .ball--cat {
    width: 100px;
    top: -203px;
    left: -37px;
  }
  .ball--1 {
    width: 7vw;
    top: 15%;
    left: 80vw;
  }
  .ball--2 {
    width: 31vw;
    top: -5vw;
    left: 30vw;
  }
  .ball--3 {
    width: 18vw;
    top: 17%;
    right: auto;
    left: -10px;
  }
  .ball--4 {
    width: 26vw;
    right: -3vw;
    top: 30%;
    filter: blur(10px);
    z-index: 1;
  }
  .ball--5 {
    right: 16vw;
    width: 70px;
    z-index: 1;
  }
  .ball--6 {
    width: 11vw;
    left: 15%;
    bottom: 5%;
    z-index: 1;
  }
  .ball--7 {
    bottom: 0;
    left: auto;
    bottom: -4%;
    width: 30vw;
    right: calc(100% - 10vw);
  }
  .ball--9 {
    bottom: -3%;
    left: calc(100% - 20vw);
    z-index: 1;
  }
  .ball--10 {
    width: 21rem;
    right: -10rem;
    bottom: 2vw;
    filter: blur(4px);
  }
  .ball--12 {
    right: auto;
    bottom: auto;
    top: 46%;
    left: -30px;
  }
  .ball--13 {
    right: auto;
    left: 18vw;
    filter: blur(3px);
  }
  .ball--14 {
    width: 40vw;
    top: -16%;
    left: calc(100% - 23vw);
    z-index: 1;
  }
  .ball--15 {
    width: 15vw;
    top: -10%;
    right: -2rem;
    filter: blur(5px);
  }
  .ball--16 {
    width: 16rem;
    right: -9rem;
    top: 30rem;
  }
  .change-way__item {
    background: #292731;
    padding: 45px;
  }
  .bonus-list__item {
    margin-bottom: 12px;
  }
  .games-list {
    gap: 18px;
  }
  .change-way__item .text-block {
    margin-top: 30px;
  }
}
@media (max-width: 370px) {
  .first-screen .btn-container,
  .reedem .btns-container {
    flex-direction: column;
  }
  .first-screen .btn-container .btn,
  .reedem .btns-container .btn {
    width: 100%;
    max-width: unset;
  }
  .btn-container {
    flex-direction: column;
  }
  .btn-container .btn {
    width: 100%;
    max-width: unset;
  }
  .change-way__item {
    padding: 15px;
  }
  .change-way__item .text-block .title, .faq__title {
    font-size: 20px;
  }
  .change-way__item .text-block .text, .accordion-header, .accordion-header__title {
    font-size: 15px;
  }
}